html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  background-color: blueviolet;
}

#board {
  width: 414px;
  height: 736px;
  margin: auto;
  background-color: rgb(141, 97, 40);
}

.secret-panel {
  /* stroke: rgb(143, 103, 52); */
  stroke: rgb(141, 97, 40);
  stroke-width: 6;
  stroke-linecap: square;
  fill-opacity: 0;
  filter: url(#shadow);
}

.main-panel {
  /* fill: rgb(146, 106, 54); */
  fill: rgb(141, 97, 40);
  fill-rule: evenodd;
  filter: url(#shadow);
  /* stroke: rgb(146, 106, 54); */
  stroke: rgb(141, 97, 40);
  stroke-width: 6;
  stroke-linejoin: round;
}

.small-peg-hole {
  stroke: rgb(146, 106, 54);
  stroke-width: 4;
  fill-opacity: 1;
  fill: rgb(90, 58, 16);
}

.large-peg-hole {
  stroke: rgb(146, 106, 54);
  stroke-width: 6;
  fill-opacity: 1;
  fill: rgb(90, 58, 16);
}
